<nav id="navbar">
<div class="navbar fixed top-0 w-full bg-gradient-to-r from-blue-900 to-blue-950 z-50">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <img id="burgerMenu" src="./assets/logo-only.png" class="h-9 sm:hidden">
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-indigo-200 rounded-box w-52">
        <li (click)="scrollTo('navbar')"><a>Start</a></li>
        <li (click)="scrollTo('projectsStart')"><a>Projects</a></li>
        <li (click)="scrollTo('cv')"><a>CV</a></li>
        <li (click)="scrollTo('aboutMeStart')"><a>About Me</a></li>
        <li (click)="scrollTo('contact')"><a>Get in touch</a></li>
      </ul>
    </div>
    <a (click)="scrollTo('navbar')"><img src="./assets/logo-only.png" class="h-9 ml-4 cursor-pointer hidden sm:block"></a>
  </div>
  <div id="normalMenu" class="navbar-center hidden sm:flex">
    <ul class="menu menu-horizontal px-1 text-lg text-indigo-200 mt-2 font-roboto">
      <li (click)="scrollTo('projectsStart')"><a>Projects</a></li>
      <li (click)="scrollTo('cv')"><a>CV</a></li>
      <li (click)="scrollTo('aboutMeStart')"><a>About me</a></li>
      <li (click)="scrollTo('contact')"><a>Get in touch</a></li>
    </ul>
  </div>
  <div class="navbar-end">
  
  </div>
</div>
</nav>