<div id="cv" class="h-10 bg-gradient-to-r from-blue-900 to-blue-950"></div>
<section class="h-auto bg-indigo-200 px-48 pb-20" >

  <div id="aboutme1234" class="text-4xl text-blue-950 font-2xl flex flex-row justify-center pb-14 mb-8 pt-20">
   Highlights from the past few years
  </div>

  <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical text-blue-950 font-roboto">
    
    <li>
      <div class="timeline-middle">
        <img src="./assets/nelles.png" class="h-6 mx-3 mb-3">
      </div>
      <div class="timeline-start md:text-end mb-10">
        <time class="font-roboto italic">2019-2022</time>
        <div class="text-lg font-bold">Store Manager</div>
        After gaining experience after a few years at Odense's beloved Nelle's Filosoffen Café, I was entrusted with the role of Store Manager at their top-performing location.
        I managed a team of 15 employees including everything from shift scheduling to inventory purchasing, hiring new team members, and having the overall responsibility for the café's operations.
        I loved my time at Nelle's which truly was a highlight of my life. At the same time it fostered professional and personal growth as a young leader, for becoming more focused and driven towards goals i set for myself.
        <br>
        A proud achievement from this period was winning the BEST OF ODENSE 2021 prize for being the best café in Odense that year.
        <br>
        <a target="_blank" href="./assets/recommendations/anbefaling-nelles.pdf"><button class="btn btn-outline btn-success mt-3">See recommendation here</button></a>
      </div>
      <hr/>
    </li>
    
    <li>
      <hr />
      <div class="timeline-middle">
        <img src="./assets/sdu.png" class="h-7 my-3 mr-3 ml-10">
      </div>
      <div class="timeline-end mb-10 mt-4">
        <time class="font-roboto italic">2022-Now</time>
        <div class="text-lg font-bold">Diplomingeniør i SoftwareTeknologi</div>
          I've always been passionate about tech and dreamt of working in the industry.
          After some years of developing myself personally and gaining experience in the workforce, I enrolled at SDU for a degree in Software Technology. (BEeng in Software Technology) 
          I am currently in my 4th semester, and while the program can be tough in many aspects, it's also incredibly rewarding.
          Ultimately, I am enjoying my time at SDU and learning a lot in the process.
      </div>
      <hr />
    </li>


    <li>
      <div class="timeline-middle">
        <img src="./assets/grand-hotel.png" class="h-4 mx-3 mb-4 mt-3">
      </div>
      <div class="timeline-start md:text-end mb-10 mt-4">
        <time class="font-roboto italic">2023-Now</time>
        <div class="text-lg font-bold">Student worker</div>
         Given my experience in the service industry i am currently employed at Grand Hotel in Odense, where I assist in both the à la carte restaurant and at events. 
         Grand Hotel is known for its exceptional dining experience, demanding high standards of quality and service from their employees.
         This has been a great experience so far, allowing me to contribute to Grand Hotel's great reputation.
         <br>
         <button class="btn btn-outline btn-success mt-3">See recommendation here</button>
      </div>
      <hr/>
    </li>

    <li>
      <hr />
      <div class="timeline-middle" id="scrolltest">
        <a target="_blank" href="https://www.linkedin.com/in/mathiasss/"><img src="./assets/linkedin.png" class="h-14 my-3 hover:scale-125 cursor-pointer"></a>
      </div>
      <div class="timeline-end mb-10 mt-4">
        <time class="font-roboto italic"></time>
        <div class="text-lg font-semibold mt-8 ml-3"> ← Check out my full CV at LinkedIn here</div>
      </div>
    </li>


  </ul>
</section>

