<div id="projectsStart" class="h-10 bg-gradient-to-r from-indigo-200 to-indigo-200"></div>
<section class="h-[auto] bg-gradient-to-r from-blue-900 to-blue-950 px-2 sm:px-24 pt-14">
  
  <div class="text-4xl text-indigo-200 font-2xl flex flex-row justify-center pb-14">
    Projects
  </div>
  
  <div id="gridProjects" class="grid gap-y-5 xl:grid-cols-2 md:gap-y-16 gap-x-20 justify-items-center pb-20">
  
    <div id="container" class="shadow-lg shadow-slate-950 rounded-xl hover:scale-105 h-auto">
      <div id="imageContainer">
        <img src="./assets/cointracker-snapshot.png" class="rounded-t-xl"/>
          </div>
            <div id="technologyContainer" class="bg-indigo-200 rounded-b-xl p-6 flex flex-col 2 place-items-center border-t-2 border-orange-400">
              <p class=" text-lg"><b>CRYPTO TRACKER</b></p>
              <p class="font-roboto text-md">Full stack real-time and historic data web-application</p>
              <div id="techImages" class="flex flex-row mt-2">
                <img src="./assets/java-small.png" class="w-8 h-10 mt-0.5 ml-2 hover:scale-125" title="Java"/>
                <img src="./assets/spring-small.png" class="w-8 h-8 mt-2.5 ml-2 hover:scale-125" title="Java Spring Boot"/>
                <img src="./assets/angular.png" class="w-10 h-10 ml-2 mt-1.5 hover:scale-125" title="Angular 17"/>
                <img src="./assets/tailwind-small.png" class="w-10 h-8 mt-2 ml-2 hover:scale-125" title="Tailwind CSS"/>
                <img src="./assets/html-small.png" class="w-8 h-8 mt-2 ml-2 hover:scale-125" title="HTML5"/>
                <img src="./assets/mongo-lille.png" class="w-6 h-8 mt-2 ml-2 hover:scale-125" title="MongoDB"/>
              </div>
      </div>
    </div>

    <div id="container" class="shadow-lg shadow-slate-950 rounded-xl hover:scale-105 h-auto flex flex-col">
      <div id="imageContainer">
        <img src="./assets/lul.png" class="rounded-t-xl"/>
          </div>
            <div id="technologyContainer" class="bg-indigo-200 rounded-b-xl p-6 flex flex-col 2 place-items-center border-t-2 border-orange-400 flex-grow">
              <p class="font-roboto text-lg"><b>LEVEL UP LIBRARY</b></p>
              <p class="font-roboto text-md">Gaming-review database</p>
              <div id="techImages" class="flex flex-row mt-2">
                <img src="./assets/laravel-small.png" class=" w-9 h-9 mt-2 hover:scale-125" title="Laravel"/>
                
                <img src="./assets/css-small.png" class=" w-7 h-8 ml-2 mt-2.5 hover:scale-125" title="CSS3" />
                <img src="./assets/html-small.png" class=" w-8 h-8 ml-2 mt-2.5 hover:scale-125" title="HTML5"/>
                <img src="./assets/javascript.png" class="w-8 h-8 ml-2 mt-2.5 hover:scale-125" title="JavaScript"/>
                <img src="./assets/supabase-small.svg" class="w-8 h-8 ml-2 mt-2.5 hover:scale-125" title="SupaBase (PostgreSQL)"/>
              </div>
      </div>
    </div>

    <div id="container" class="shadow-lg shadow-slate-950 rounded-xl hover:scale-105 h-auto flex flex-col">
      <div id="imageContainer">
        <img src="./assets/portfolio-snapshot.png" class="rounded-t-xl"/>
          </div>
            <div id="technologyContainer" class="bg-indigo-200 rounded-b-xl p-6 flex flex-col 2 place-items-center border-t-2 border-orange-400 flex-grow">
              <p class="font-roboto text-lg"><b>PERSONAL PORTFOLIO</b></p>
              <p class="font-roboto text-md">Personal showcase & CV</p>
              <div id="techImages" class="flex flex-row mt-2">
                <img src="./assets/angular.png" class="w-10 h-10 ml-2 mt-1.5 hover:scale-125" title="Angular 17"/>
                <img src="./assets/tailwind-small.png" class="w-10 h-8 mt-2 ml-2 hover:scale-125" title="Tailwind CSS"/>
                <img src="./assets/html-small.png" class="w-8 h-8 mt-2 ml-2 hover:scale-125" title="HTML5"/>
              </div>
      </div>
    </div>

    <div id="container" class="shadow-lg shadow-slate-950 rounded-xl hover:scale-105 h-auto flex flex-col">
      <div id="imageContainer">
        <img src="./assets/beerbros.png" class="rounded-t-xl p-5 bg-white"/>
          </div>
            <div id="technologyContainer" class="bg-indigo-200 rounded-b-xl p-6 flex flex-col 2 place-items-center border-t-2 border-orange-400 flex-grow">
              <p class="font-roboto text-lg"><b>BEER BROS</b></p>
              <p class="font-roboto text-md">(Semester Project) Full stack application for brewing beer with OPCUA</p>
              <div id="techImages" class="flex flex-row mt-4 mb-1">
                <img src="./assets/java-small.png" class="w-8 h-10 mt-0.5 ml-2 hover:scale-125" title="Java"/>
                <img src="./assets/spring-small.png" class="w-8 h-8 mt-2.5 ml-2 hover:scale-125" title="Java Spring Boot"/>
                <img src="./assets/javascript.png" class="w-8 h-8 ml-2 mt-2 hover:scale-125" title="JavaScript"/>
                <img src="./assets/css-small.png" class=" w-7 h-8 ml-2 mt-2.5 hover:scale-125" title="CSS3"/>
                <img src="./assets/html-small.png" class="w-8 h-8 mt-2.5 ml-2 hover:scale-125" title="HTML5"/>
                <img src="./assets/postgres-lille.png" class="w-8 h-8 mt-2.5 ml-2 hover:scale-125" title="PostgreSQL"/>
              </div>
      </div>
    </div>

    <div id="container" class="shadow-lg shadow-slate-950 rounded-xl hover:scale-105 h-auto flex flex-col">
      <div id="imageContainer">
        <img src="./assets/pim-test.png" class="rounded-t-xl bg-white"/>
          </div>
            <div id="technologyContainer" class="bg-indigo-200 rounded-b-xl p-6 flex flex-col 2 place-items-center border-t-2 border-orange-400 flex-grow">
              <p class="font-roboto text-lg"><b>PIM - PRODUCT INFORMATION MANAGEMENT SYSTEM</b></p>
              <p class="font-roboto text-md">(Semester Project) JavaFX project for webshop CRUD operations</p>
              <div id="techImages" class="flex flex-row mt-3">
                <img src="./assets/java-small.png" class=" h-10 mt-0.5 ml-2 hover:scale-125" title="Java"/>
                <img src="./assets/JavaFX-logo.png" class="h-10 mt-0.5 ml-4 hover:scale-125" title="JavaFX" />
                <img src="./assets/postgres-lille.png" class="w-8 h-8 mt-3 ml-2 hover:scale-125" title="PostgreSQL" />
              </div>
      </div>
    </div>

    <div id="container" class="shadow-lg shadow-slate-950 rounded-xl hover:scale-105 h-auto flex flex-col">
      <div id="imageContainer">
        <img src="./assets/asteroids.png" class="rounded-t-xl p-2 bg-black"/>
          </div>
            <div id="technologyContainer" class="bg-indigo-200 rounded-b-xl p-6 2 flex flex-col place-items-center border-t-2 border-orange-400 flex-grow">
              <p class="font-roboto text-lg"><b>ASTEROIDS</b></p>
              <p class="font-roboto text-md">Component based project at university with Java Module System</p>
              <div id="techImages" class="flex flex-row mt-2 mb-1">
                <img src="./assets/java-small.png" class=" h-10 mt-0.5 ml-2 hover:scale-125" title="Java"/>
                <img src="./assets/JavaFX-logo.png" class="h-10 mt-0.5 ml-4 hover:scale-125" title="JavaFX"/>
              </div>
      </div>
    </div>

    

    
    
    
    
    
    
    
  </div>
</section>
