<section class="pt-28 h-[28rem] bg-gradient-to-r from-blue-900 to-blue-950 flex items-center space-x-6 justify-center p-5">
  
  <div id="image" class="h-64 w-64">
    <img src="./assets/me.jpeg" class="rounded-lg shadow-xl">
  </div>

  <div id="intro-text-and-social-links">
  <div>
      <p id="introText" class="text-indigo-200 w-96 h-auto text-md font-roboto">
        <span class="text-orange-600"><b>Hey there!</b></span> I'm Mathias.<br>Danish <b>software engineering student</b> enrolled at SDU, based in the lovely city of Odense. <br> 
        Currently on the lookout for an <b>open student developer position</b> to enhance my skills and contribute. Additionally, I’m planning ahead to secure an exciting <b>internship</b> in February 2025.<br>  Let's team up!
      </p>
  </div>

  <div id="socialLinks" class="mt-4 text-orange-600">
    <a><fa-icon [icon]="faSquareGithub" class="fa-xl mr-2"></fa-icon></a>
    <a><fa-icon [icon]="faLinkedin" class="fa-xl"></fa-icon></a>
  </div>
</div>
</section>


<section class="h-[26rem] bg-indigo-200 flex flex-row justify-center items-center pl-30 pr-30">
  <div id="leftText1" class="font-roboto text-4xl text-blue-950 w-2/5 font-2xl"> Languages, Frameworks & Containerization explored so far</div>
  <div id="companyLogos" class="text-4xl text-blue-950 w-2/5 font-2xl">
    <div class="flex flex-wrap justify-center items-center gap-y-3 gap-10 p-4">
      <div class="flex items-center"><img src="./assets/java.png" class="h-24"></div>
      <div class="flex items-center"><img src="./assets/angular.png" class="h-20 mt-3"></div>
      <div class="flex items-center"><img src="./assets/css.png" class="h-20"></div>
      <div class="flex items-center"><img src="./assets/html.png" class="h-20"></div>
      <div class="flex items-center"><img src="./assets/javascript.png" class="h-16 mt-3"></div>
      <div class="flex items-center"><img src="./assets/laravel-3.png" class="h-28"></div>
      <div class="flex items-center"><img src="./assets/java-spring.png" class="h-14"></div>
      <div class="flex items-center"><img src="./assets/docker.png" class="h-14 mb-3"></div>
      <div class="flex items-center"><img src="./assets/tailwind.png" class="h-8"></div>
    </div>
  </div>
</section>







